@page
@model IIS_Manager.Web.Areas.User.Pages.IIS_Servers.RemoveModel
@{
}

<div class="container p-3">
    <form method="post">
        <input asp-for="cIisServer.Id" type="hidden"/>
        <input asp-for="Id" type="hidden"/>
        <div class="row pt-4 align-items-center">
            <div class="row pb-2">
                <h2 class="text-primary">Remove IIS-Server</h2>
                <hr />
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="cIisServer.Address" class="form-control" aria-required="true" disabled="" />
                <label asp-for="cIisServer.Address"></label>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="cIisServer.Service" class="form-control" disabled="">
                    @foreach (var cBooleanOption in Model.BooleanOptions)
                    {
                        var isSelected = cBooleanOption.Value == Model.cIisServer.Service ? "selected" : null;
                        <option value="@cBooleanOption.Value" selected="@isSelected">@cBooleanOption.Text</option>
                    }
                </select>
                <label asp-for="cIisServer.Service"></label>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="cIisServer.Username" class="form-control" aria-required="true" disabled="" />
                <label asp-for="cIisServer.Username"></label>
            </div>
            <div class="form-floating py-2 col-6">
            </div>
            <p>Optional:</p>
            <div class="form-floating py-2 col-6">
                <input asp-for="cIisServer.Name" class="form-control" aria-required="true" disabled="" />
                <label asp-for="cIisServer.Name"></label>
            </div>
            <div class="form-floating py-2 col-6">
            </div>
            <div class="form-floating py-2 col-6">
                <button class="w-100 btn btn-lg btn-primary" asp-area="User" asp-page="/IIS_Servers/Remove">Remove IIS-Server</button>
            </div>
            <div class="form-floating py-2 col-6">
                <a class="btn btn-outline-secondary w-100" asp-area="User" asp-page="/IIS_Servers/Index">Back to list</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}