@page
@model AccessDeniedModel
@{
}

<div class="row">
    <div class="col-md-4 pt-4">
        <section>
            <form>
                <h2 class="text-danger">Access denied</h2>
                <p class="text-danger">You do not have access to this resource.</p>
            </form>
        </section>
    </div>
</div>